<div
  class="pl-1 pr-6 md:px-4 py-1 md:py-4 w-auto h-full md:h-screen bg-p text-pd sticky top-0 md:static flex flex-row md:flex-col items-center shadow z-50"
>
  <div
    routerLinkActive="active"
    routerLink="recipies"
    class="px-3 py-2 ml-2 md:ml-0 md:mt-10 focus:outline-none"
  >
    <i class="fa fa-align-left"> </i>
  </div>
  <div
    routerLinkActive="active"
    routerLink="search"
    class="px-3 py-2 ml-4 md:ml-0 md:mt-10 focus:outline-none"
  >
    <i class="fa fa-search"> </i>
  </div>

  <div
    routerLinkActive="active"
    routerLink="bookmark"
    class="ml-auto md:ml-0 md:mt-10 focus:outline-none"
  >
    <i class="px-3 py-2 fa fa-bookmark"> </i>
  </div>
</div>
